header a span {
	color: #FF3B30;
}

p.title {
	font-weight: 700;
}

button.search {
	border: none;
	background-color: transparent;
}

table {
	width: 100%;
}

table td {
	padding-top: 10px;
}
